body {
    margin: 0;
    padding: 0;
    color: black;
}
.home-link:hover {
    color: rgb(22, 85, 26);
    text-decoration: none;
}
.top-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
}
.top-image,
.bottom-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.top-image {
    height: 50vh;
}
.bottom-image {
    height: 50vh;
    top: 50vh;
}
.container {
    position: relative;
    z-index: 1;
    margin-top: 50vh; /* Adjust margin to start below the top image */
}
.home-link {
    color: black;
}